:root {
  --primary-color: var(#1572d3);
}
@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins.zip);
}
body nav {
  display: flex;
  justify-content: space-evenly;
}

body nav ul {
  list-style: none;
  display: flex;
}
body nav ul li {
  font-weight: bold;
}
.div-2ofnav a {
  text-decoration: none;
  color: black;
}
.div-1ofnav {
  display: inherit;
  justify-content: flex-start;
}
.div-2ofnav {
  display: inherit;
  justify-content: center;
}
.div-3ofnav {
  justify-content: flex-end;
}
.logo img {
  width: 35px;
  height: 35px;
}
hero section */ .maindivofherosection {
  position: absolute;
  top: 240px;
  left: 100px;
  width: 390px;
  height: 238.62px;
  /* border: 2px solid black; */
  padding: 0%;
}
.firstdivofherosection {
  font-size: 48px;
  font-family: poppins;
  font-weight: 600;
  line-height: 8vh;
  /* position: absolute;
  left: 100px;
  top: 100px; */
}
.highlitedtext {
  color: #1572d3;
}
.seconddivofherosection {
  font-size: 1vw;
 
}
.thirddivofherosection {
  width: 12vw;
  height: 4vh;
  display: inline-block;
  /* position: absolute;
   left: 100px;
  top: 300px; */
}
.fourthdivofherosection {
  width: 12vw;
  height: 4vh;
  display: inline-block;
  /* position: absolute;
   left: 100px;
  top: 100px; */

}
.maincoverimg {
  width: 900px;
  height: 450px;
  position: absolute;
  top: 100px;
  left: 850px;
  /* bottom: 300px; */
  /* opacity: 87%; */
}
.bgimgofhero {
  width: 800px;
  height: 537px;
  position: absolute;
  top: -33px;
  left: 866px;
  opacity: 50%;
}
.b-input {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 850px;
  left: 300px;
  padding: 12px 12px 12px 32px;
  gap: 50px;
}

/* ends  */
/* how it works */
.btnlike {
  background-color: lightgrey;
  color: #1572d3;
  border-radius: 5px;
  width: 8vw;
}
.main-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1180px;
  gap: 300px;
  left: 400px;
}
.main-cards .cards {
  width: 10vw;
  gap: 300px;
}
.logos-all {
  width: 100vw;
  height: 5vw;
  position: absolute;
  top: 1600px;
}
/* making why choose us */
.choose-us-audi {
  width: 65vw;
  /* height: 359; */
  position: absolute;
  top: 2030px;
  left: -181px;
}
.choose-us-audi img {
  width: 100%;
}
.choose-us-text-main {
  position: absolute;
  top: 2000px;
  left: 800px;
}
.choose-us-1 {
  position: absolute;
  top: 2150px;
  left: 800px;
}
.choose-us-2 {
  position: absolute;
  top: 2300px;
  left: 800px;
}
.choose-us-3 {
  position: absolute;
  top: 2450px;
  left: 800px;
}
.choose-us-4 {
  position: absolute;
  top: 2600px;
  left: 800px;
}
.mainofmaincard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  position: absolute;
  top: 3000px;
  left: 100px;
  gap: 4vw;
}
.center1 {
  position: absolute;
  top: 2800px;
  left: 630px;
}
.center2 {
  position: absolute;
  top: 2850px;
  left: 400px;
  font-size: 4vw;
}
.btnallcars {
  position: absolute;
  top: 3400px;
  left: 630px;
  /* font-size: 4vw; */
}
.btndown a {
  text-decoration: none;
  /* color: white; */
}
.btndown {
  position: absolute;
  top: 0px;
  /* bottom: 700px; */
}
/* download page */
.down-main-text {
  font-size: 3vw;
}
.down-sub-text {
  font-weight: bold;
  display: block;
}
.down-img {
  width: 350px;
  height: 102px;
  opacity: 1;
  border-radius: 10.14px;
  display: flex;
}
.maindown {
  position: absolute;
  top: 4300px;
}
.downloadphoto {
  width: 450px;
  /* height: 1011px; */
  /* opacity: 1; */
  position: absolute;
  top: 10px;
  left: 750px;
}
.downloadphoto2 {
  width: 400px;
  /* height: 1011px; */
  /* opacity: 1; */
  position: absolute;
  top: 10px;
  left: 770px;
}
/* FOOTER */

.footer-container {
  background-color: #000000;
  color: #f0f0f0;
  padding: 50px 30px;
  position: absolute;
  top: 4800px;
  width: 100vw;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-column {
  flex-grow: 1;
  flex-basis: 200px;
  min-width: 220px;
  padding: 10px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.logo-text i {
  margin-right: 8px;
}

.contact-info p {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.contact-info i {
  font-size: 18px;
  margin-right: 15px;
  margin-top: 4px;
  width: 20px;
}

.footer-column h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  color: #f0f0f0;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-hr {
  border: 0;
  border-top: 1px solid #3a5370;
  margin-top: 30px;
}
@media (max-width:768px) {
    .footer-content{
        flex-direction: column;
    }
    .footer-column{
        /* width: 100%; */
        margin-bottom: 20px;
        flex-basis: auto;
    }
}
.themostimp{
    position: absolute;
    top: 3500px;
}
  /* @media (min-width: 769px) {
    .bgimgofhero {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .maindivofherosection {
        width: 45%;
        order: 1;
        text-align: left;
        padding-top: 50px;
    }
    .maincoverimg {
        width: 45%;
        order: 2;
    }
    .b-input, .b-input1, .b-input2, .b-input3, .b-input4 {
        display: inline-block;
        margin: 5px;
        width: 18%; 
        max-width: 190px;
        order: 3;
    }
    .b-input4 {
        align-self: flex-end;
        width: 18%;
        height: 80px;
        margin-bottom: 30px;
    }
    .choose-us-audi {
        float: right;
        width: 45%;
    }
    .choose-us-text-main {
        float: left;
        width: 45%;
    }
} */
@media (max-width: 768px) {
    body nav {
        flex-direction: column;
    }
    body nav ul {
        flex-direction: column;
        align-items: center;
        margin: 15px 0;
    }
    .div-3ofnav button {
        width: 100%;
        margin-top: 10px;
    }
    .maindivofherosection {
        width: 100%;
    }
    .firstdivofherosection {
        font-size: 32px;
    }
    .main-cards, .mainofmaincard {
        padding: 20px 5%;
    }
    .card1, .card2, .card3, .mainofmaincard .card {
        width: 100%;
        max-width: 100%;
    }
    .choose-us-audi, .choose-us-text-main {
        width: 100%;
        float: none;
        padding: 20px 5%;
    }
    .choose-us-text-main {
        text-align: center;
    }
    .choose-us-points {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .download-app-text1 {
        font-size: 28px;
    }
    .download-app-icons {
        flex-direction: column;
        align-items: center;
    }
    .footer-content {
        flex-direction: column;
    }
}